div{
        width: 100%;
        max-width: 600px;
        height: 600px;
}

div img {
        width:100%;
        max-width:600px;
}
@media (max-width:576px) {
         /*mobil */
         .laptop, .tableta{
                display: none;
         }
         .mobil{
                background-image: url("../img/ali-inay-yNaGxHqjOuw-unsplash.jpg");
                background-size: cover;
         }
}
@media (min-width:577px) and (max-width:768px) {
        /*tableta */
                .laptop, .mobil{
                       display: none;
                }
                .tableta{
                        background-image: url(../img/daniel-beilinson-eiqJBh7eHDU-unsplash.jpg);
                        background-size: cover;
                }
}
@media  (min-width:769px) {
        /*laptop */
                .mobil, .tableta{
                       display: none;
                }
                .laptop{
                        background-image: url(../img/dustin-scarpitti-26-lAP0XprM-unsplash.jpg);
                        background-size: cover;
                }
}
        


        
   